# configuration file for minetestserver

# World directory (everything in the world is stored here)
map-dir = <%= scope['minetest::dirroot'] %>/worlds/Aurelum

# Admin name
#name =

# Server stuff
# Network port to listen (UDP)
port = 30000

# Bind address
#bind_address = 123.123.123.123

# Name of server
server_name = <%= @hostname %>

# Description of server
server_description = <%= scope['minetest::serverdescription'] %>

# Domain name of server
server_address = <%= @fqdn %>

# New users need to input this password
default_password = <%= scope['minetest::defaultpass'] %>

# If true, new players cannot join with an empty password
disallow_empty_password = true

# Homepage of server
#server_url = http://example.com

# Automaticaly report to masterserver
# set to true for public servers
server_announce = false

# Announce to this masterserver. if you want to announce your ipv6 address
# use serverlist_url = v6.servers.minetest.net

serverlist_url = servers.minetest.net

# Default game (default when creating a new world)
default_game = minetest

# Message of the Day
motd = Welcome to <%= @hostname %> Minetest. Enjoy your stay!

# Maximum number of players connected simultaneously
max_users = 15

# Whether to enable players killing each other
enable_pvp = false

# Set to true to enable creative mode (unlimited inventory)
creative_mode = false

# Enable players getting damage and dying
enable_damage = true

# Available privileges: interact, shout, teleport, settime, privs, ...
# See /privs in game for a full list on your server and mod configuration.
default_privs = server,shout,fly,password,creative,bring,kick,worldedit,teleport,ban,noclip,privs,fast,basic_privs,rollback,interact,settime,give

# Set to true to disallow old clients from connecting
#strict_protocol_version_checking = false

# Time in seconds for item entity to live. Default value: 900s
# Setting it to -1 disables the feature
#item_entity_ttl = 900

# Despawn all non-peaceful mobs
#only_peaceful_mobs = false
display_mob_spawn = true

# A chosen map seed for a new map, leave empty for random
#fixed_map_seed =

# Gives some stuff to players at the beginning
#give_initial_stuff = false

# Whether players are shown to clients without any range limit
#unlimited_player_transfer_distance = true

# If this is set, players will always (re)spawn at the given position
#static_spawnpoint = 0, 10, 0

# If true, disable cheat prevention in multiplayer
#disable_anticheat = false

# If true, actions are recorded for rollback
#enable_rollback_recording = false

# handling for deprecated lua api calls
#    "legacy" = (try to) mimic old behaviour (default for release)
#    "log"    = mimic and log backtrace of deprecated call (default for debug)
#    "error"  = abort on usage of deprecated call (suggested for mod developers)
#deprecated_lua_api_handling = legacy

# Profiler data print interval. #0 = disable.
#profiler_print_interval = 0

#enable_mapgen_debug_info = false
# from how far client knows about objects
#active_object_send_range_blocks = 3

# how large area of blocks are subject to the active block stuff (active = objects are loaded and ABMs run)
#active_block_range = 2

# how many blocks are flying in the wire simultaneously per client
#max_simultaneous_block_sends_per_client = 10

# how many blocks are flying in the wire simultaneously per server
#max_simultaneous_block_sends_server_total = 40

# From how far blocks are sent to clients (value * 16 nodes)
#max_block_send_distance = 10

# From how far blocks are generated for clients (value * 16 nodes)
#max_block_generate_distance = 6

# Number of extra blocks that can be loaded by /clearobjects at once
# This is a trade-off between sqlite transaction overhead and
# memory consumption (4096=100MB, as a rule of thumb)
#max_clearobjects_extra_loaded_blocks = 4096

# Maximum number of forceloaded blocks
#max_forceloaded_blocks = 16

# Interval of sending time of day to clients
#time_send_interval = 5

# Length of day/night cycle. 72=20min, 360=4min, 1=24hour, 0=day/night/whatever stays unchanged
#time_speed = 72

# Length of year in days for seasons change. With default time_speed 365 days = 5 real days for year. 30 days = 10 real hours
#year_days = 30

#server_unload_unused_data_timeout = 29

# Maximum number of statically stored objects in a block
#max_objects_per_block = 49

# Interval of saving important changes in the world

#server_map_save_interval = 5.3
# http://www.sqlite.org/pragma.html#pragma_synchronous only numeric values: 0 1 2
#sqlite_synchronous = 2
# To reduce lag, block transfers are slowed down when a player is building something.
# This determines how long they are slowed down after placing or removing a node.
#full_block_send_enable_min_time_from_building = 2.0

# Length of a server tick and the interval at which objects are generally updated over network
#dedicated_server_step = 0.1

# Can be set to true to disable shutting down on invalid world data
#ignore_world_load_errors = false

# Specifies URL from which client fetches media instead of using UDP
# $filename should be accessible from $remote_media$filename via cURL
# (obviously, remote_media should end with a slash)

# Files that are not present would be fetched the usual way
#remote_media =

# Level of logging to be written to debug.txt.
# 0 = none, 1 = errors and debug, 2 = action, 3 = info, 4 = verbose
#debug_log_level = 2

# Maximum number of blocks that can be queued for loading.
#emergequeue_limit_total = 256

# Maximum number of blocks to be queued that are to be loaded from file.
# Set to blank for an appropriate amount to be chosen automatically.
#emergequeue_limit_diskonly = 32

# Maximum number of blocks to be queued that are to be generated.
# Set to blank for an appropriate amount to be chosen automatically.
#emergequeue_limit_generate = 32

# Number of emerge threads to use.  Make this field blank, or increase this number, to use multiple threads.
# On multiprocessor systems, this will improve mapgen speed greatly, at the cost of slightly buggy caves.
#num_emerge_threads = 1

# maximum number of packets sent per send step, if you have a slow connection
# try reducing it, but don't reduce it to a number below double of targeted
# client number
#max_packets_per_iteration = 1024
